body {
    background-color: #fce2e7;
}

.navbar {
    background-color: #fce2e7;
    /* Couleur de fond */
    display: flex;
    width: 100%;
    position: fixed;
}

#img {
    margin-right: 25%;
}

.navbar a {
    color: #b23f49;
    text-decoration: none;
    padding: 50px 60px;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
}

a:hover {
    color: #a19d9e;
}


/* Responsive Design */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .navbar a {
        display: block;
        width: 100%;
        text-align: center;
        padding: 8px;
    }
}