.navbar {
    background-color: #fce2e7; /* Couleur de fond sombre */
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar a {
    color: #9c1169;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.navbar a:hover {
    background-color: #ffffff;
    border-radius: 5px;
}

/* Ajout d'un effet d'animation active */
.navbar a:active {
    transform: scale(0.95);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }
    
    .navbar a {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}